<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eat Da Burger</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel='stylesheet' type='text/css' href='css/style.css'>
    {{!-- {{#each css}}
    <link rel="stylesheet" type='text/css' href="../../public/css/{{this}}">
    {{/each}} --}}




    <script>
        $(function () {
            $("form").on("submit", function (event) {
                event.preventDefault();

                var newBurger = {
                    burger_name: $("#burgerdata").val().trim()
                };

                //send the POST request.
                $.ajax("/api/burgers", {
                    type: "POST",
                    data: $("#burgerdata").val().trim()
                }).then(
                    function () {
                        console.log("created new burger");
                        location.reload();
                    }
                );

            })
            $(".devour").on("click", function (event) {
                var id = $(this).data("id");
                //send the delete request.
                $.ajax("/api/burgers/" + id, {
                    type: "put"
                }).then(
                    function () {
                        console.log("delete burger", id);
                        location.reload();
                    }
                );

            });

        })

    </script>

</head>

<body>
    {{{body}}}
</body>

</html>