<h1> Burgers! </h1>

<h2> Eat Dah Burger </h2>

<ul>
    {{#each burgers}}
    {{#unless devour}}
    {{> burgers/burger-block devour=true}}
    <!--handlebar templates
    https://code-maven.com/handlebars-conditionals -->
    {{/unless}}
    {{/each}}
</ul>

<h2>These Burgers are in your tummy!</h2>
<ul>
    {{#each burgers}}
    {{#if devour}}
    {{> burgers/burger-block devour=false}}
    {{/if}}
    {{/each}}
</ul>
<!--<h2>Cats that are sleepy!</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2></h2>



<form>
    <div class="form-group">
        <input type="text" class="form-control" id="burgerdata" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Enter a burger you want to eat!</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>